
body{
    margin: 0;
    font-family: "Lato", sans-serif;
}
h1{
    font-size: 40px;
    font-weight:bolder;
}

span{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    align-items: center;
    text-align: justify;
    
}
.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.second-section{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.down-section{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}

section{
    height: 500px;
    margin-bottom: 10px;
    
    
}
.half-width img{
        width: 80%;
        height: auto;
}
a{
    background-image: linear-gradient(35deg, red, yellow);
    margin: 10px 0px;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
}
.down-div{
    background-color: whitesmoke;
    box-shadow: 10px 10px 20px rgb(212, 189, 189);
    height: 80%;
    padding: 10px;
    text-align: justify;
}
#lerner{
    border-left: 5px solid;
    border-image: linear-gradient(180deg,green,red);
    border-image-slice: 1;
    
}
#full{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, red, green);
    border-image-slice: 1;
}
footer{
    text-align: center;
}